* {
  box-sizing: border-box;
}
h1 h2 {
  font-size: 15;
}

h1 {
  color: yellow !important;
}

.box {
  display: grid;
  grid-column: 1fr 1fr 1fr;
}
.box1 {
  color: red;
}

@media only screen and (max-width: 600px) {
  .box1 {
    color: blue;
  }
}

@media only screen and (max-width: 780px) {
  .box1 {
    color: yellow;
  }
}
